.card-body {
  height: auto !important;
}
.chart-container {
  height: auto !important;
}
.chart-card {
  margin-bottom: 1.5rem;
  height: auto;
}
.col-lg-12 {
  padding: 0px !important;
}
.col-12 {
  padding: 0px !important;
}
.col-md-6.left {
  padding-left: 0rem;
  padding-right: 0.5rem;
  padding-top: 0rem;
}
.col-md-6.right {
  padding-left: 0.5rem;
  padding-right: 0rem;
  padding-top: 0rem;
}
.col-lg-7.col-md-6 {
  padding-left: 0rem;
  padding-right: 0rem;
  padding-top: 0rem;
  padding-bottom: 1rem;
  width: 100%;
}
@media (max-width: 48rem) {
.row {
  gap: 1.5rem;
}
.col-md-6.left,
.col-md-6.right,
.col-lg-7.col-md-6 {
  padding: 0px;
  width: 100%;
}
}
